services:
  - type: web
    name: yaradiobot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: TELEGRAM_BOT_TOKEN
        value: 7368212837:AAHqVeOYeIHpJyDXltk-b6eGMmhwdUcM45g
      - key: ADMIN_TELEGRAM_ID
        value: 174046571
